<?xml version="1.0" encoding="UTF-8"?><web-app xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/servicesContext*.xml</param-value>
   </context-param>
<context-param>
      <param-name>javax.faces.CONFIG_FILES</param-name>
      <param-value>/WEB-INF/publishing-faces-config.xml,/WEB-INF/admin-faces-config.xml,/WEB-INF/config/user/faces/faces-config.xml</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
       <param-value>client</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.PRETTY_HTML</param-name>
       <param-value>true</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.ALLOW_JAVASCRIPT</param-name>
       <param-value>true</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.READONLY_AS_DISABLED_FOR_SELECTS</param-name>
       <param-value>true</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.DETECT_JAVASCRIPT</param-name>
       <param-value>false</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.AUTO_SCROLL</param-name>
       <param-value>false</param-value>
   </context-param>
<context-param>
    <param-name>org.apache.myfaces.trinidad.USE_APPLICATION_VIEW_CACHE</param-name>
    <param-value>false</param-value>
  </context-param>
<context-param>
       <param-name>javax.faces.CHECK_EXTENSIONS_FILTER</param-name>
       <param-value>true</param-value>
   </context-param>
<context-param>
       <param-name>javax.faces.RESOURCE_VIRTUAL_PATH</param-name>
       <param-value>/sys_resources/trinidad</param-value>
   </context-param>
<filter>
      <filter-name>PSCharacterSetFilter</filter-name>
      <filter-class>com.percussion.servlets.PSCharacterSetFilter</filter-class>
      <init-param>
         <param-name>requestEncoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>
<filter>
      <filter-name>PSSecurityFilter</filter-name>
      <filter-class>com.percussion.servlets.PSSecurityFilter</filter-class>
   </filter>
<filter>
      <filter-name>FilterRedirector</filter-name>
      <filter-class>org.apache.cactus.server.FilterTestRedirector</filter-class>
   </filter>
<filter>
      <filter-name>ExtensionsFilter</filter-name>
      <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
      <init-param>
          <param-name>maxFileSize</param-name>
          <param-value>20m</param-value>
          <description>Set the size limit for uploaded files.
              Format: 10 - 10 bytes
                      10k - 10 KB
                      10m - 10 MB
                      1g - 1 GB
          </description>
      </init-param>
   </filter>
<filter>
      <filter-name>RhythmyxWebDavRedirector</filter-name>
      <filter-class>com.percussion.webdav.PSWebDavRequestFilter</filter-class>
   </filter>
<filter>  
 	  <filter-name>PSIECompatibleFilter</filter-name>  
 	  <filter-class>com.percussion.servlets.PSIECompatibleFilter</filter-class>  
  </filter>
<filter>
     <filter-name>trinidad</filter-name>
     <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
   </filter>
<filter-mapping>
      <filter-name>PSCharacterSetFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
<filter-mapping>
      <filter-name>FilterRedirector</filter-name>
      <url-pattern>/FilterRedirector</url-pattern>
   </filter-mapping>
<filter-mapping>
      <filter-name>PSSecurityFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
   </filter-mapping>
<filter-mapping>
      <filter-name>RhythmyxWebDavRedirector</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
   </filter-mapping>
<filter-mapping>
      <filter-name>ExtensionsFilter</filter-name>
      <servlet-name>Faces Servlet</servlet-name>
   </filter-mapping>
<filter-mapping>  
	   <filter-name>PSIECompatibleFilter</filter-name>  
 	  <servlet-name>Faces Servlet</servlet-name>  
  </filter-mapping>
<filter-mapping>
     <filter-name>trinidad</filter-name>
     <servlet-name>Faces Servlet</servlet-name>
   </filter-mapping>
<listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
<listener>
      <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
   </listener>
<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
<servlet>
         <display-name>Apache-Axis Servlet</display-name>
      <servlet-name>AxisServlet</servlet-name>
      <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
   </servlet>
<servlet>
      <display-name>Axis Admin Servlet</display-name>
      <servlet-name>AdminServlet</servlet-name>
      <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
      <load-on-startup>100</load-on-startup>
   </servlet>
<servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>0</load-on-startup>
   </servlet>
<servlet>
    <servlet-name>Trinidad Resources</servlet-name>
    <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
  </servlet>
<servlet>
      <servlet-name>rxUtil</servlet-name>
      <display-name>Rhyhtmyx Utility Servlet</display-name>
      <description>Provides other servlets in the same web app static access to context info</description>
      <servlet-class>com.percussion.publisher.client.PSUtilServlet</servlet-class>
      <init-param>
         <param-name>relativeRoot</param-name>
         <param-value>../</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
<servlet>
      <servlet-name>ServletRedirector</servlet-name>
      <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
   </servlet>
<servlet>
      <!--servlet-name>RhythmyxServlet</servlet-name-->
      <servlet-name>Z</servlet-name>
      <servlet-class>com.percussion.servlets.PSAppServlet</servlet-class>
      <init-param>
         <param-name>rxDir</param-name>
         <param-value>C:\DevEnv\Installs\cmsystem\Rhythmyx7.3.1</param-value>
      </init-param>
      <init-param>
         <param-name>jndiPrefix</param-name>
         <param-value>java:</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
<servlet>
      <servlet-name>AssemblyServlet</servlet-name>
      <servlet-class>com.percussion.services.assembly.impl.PSAssemblyServlet</servlet-class>
   </servlet>
<servlet>
      <servlet-name>ContentListServlet</servlet-name>
      <servlet-class>com.percussion.services.publisher.impl.PSContentListServlet</servlet-class>
   </servlet>
<servlet>
      <servlet-name>SiteListServlet</servlet-name>
      <servlet-class>com.percussion.services.sitemgr.PSSiteCatalogServlet</servlet-class>
   </servlet>
<servlet>
      <servlet-name>RhythmyxLoginServlet</servlet-name>
      <servlet-class>com.percussion.servlets.PSLoginServlet</servlet-class>
   </servlet>
<servlet>
        <servlet-name>rxwebdav</servlet-name>
        <servlet-class>com.percussion.utils.spring.PSPassThruDispatcherServlet</servlet-class>
        <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/user/webdav/rxwebdav-servlet.xml</param-value>
      </init-param>
    </servlet>
<servlet>
         <servlet-name>actionpanel</servlet-name>
         <servlet-class>com.percussion.servlets.PSActionPanelServlet</servlet-class>
    </servlet>
<servlet>
        <servlet-name>UserDispatcher</servlet-name>
        <servlet-class>com.percussion.servlets.PSDispatcherServlet</servlet-class>
        <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/user/spring/*-servlet.xml</param-value>
      </init-param>
    </servlet>
<servlet>
          <servlet-name>ActiveAssemblyServlet</servlet-name>
          <servlet-class>com.percussion.services.aaclient.PSAaClientServlet</servlet-class>
    </servlet>
<servlet>
           <servlet-name>ContentUiAAServlet</servlet-name>
           <servlet-class>com.percussion.content.ui.aa.PSAAClientServlet</servlet-class>
    </servlet>
<servlet>
           <servlet-name>EditionJobStatusServlet</servlet-name>
           <servlet-class>com.percussion.rx.publisher.servlet.PSJobStatusServlet</servlet-class>
    </servlet>
<servlet>
         <servlet-name>DemandPublishingServlet</servlet-name>
         <servlet-class>com.percussion.rx.publisher.servlet.PSDemandPublishServlet</servlet-class>
    </servlet>
<servlet>
         <servlet-name>PSTdSchemaXmlServlet</servlet-name>
         <servlet-class>com.percussion.servlets.PSTdSchemaXmlServlet</servlet-class>
    </servlet>
<servlet>
        <servlet-name>LinkbackDispatcher</servlet-name>
        <servlet-class>com.percussion.servlets.PSDispatcherServlet</servlet-class>
        <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/spring/linkback-servlet.xml</param-value>
      </init-param>
    </servlet>
<servlet>
        <servlet-name>TaxonomyDispatcher</servlet-name>
        <servlet-class>com.percussion.servlets.PSDispatcherServlet</servlet-class>
        <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/spring/taxonomy-servlet.xml</param-value>
      </init-param>
    </servlet>
<servlet>
<servlet-name>PSOImageEditor</servlet-name>
<servlet-class>com.percussion.servlets.PSDispatcherServlet</servlet-class>
<init-param>
<param-name>contextConfigLocation</param-name>
<param-value>/WEB-INF/addins/PSOImageEditor/*-servlet.xml</param-value>
</init-param>
</servlet>
<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
<servlet-mapping>
      <!--servlet-name>RhythmyxServlet</servlet-name-->
      <servlet-name>Z</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>AssemblyServlet</servlet-name>
      <url-pattern>/assembler/render</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>AssemblyServlet</servlet-name>
      <url-pattern>/assembler/debug</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>ContentListServlet</servlet-name>
      <url-pattern>/contentlist</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>SiteListServlet</servlet-name>
      <url-pattern>/sitelist</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>RhythmyxLoginServlet</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>RhythmyxLoginServlet</servlet-name>
      <url-pattern>/logout</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>ServletRedirector</servlet-name>
      <url-pattern>/ServletRedirector</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.faces</url-pattern>
   </servlet-mapping>
<servlet-mapping>
        <servlet-name>rxwebdav</servlet-name>
        <url-pattern>/rxwebdav/*</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>actionpanel</servlet-name>
        <url-pattern>/ui/actionpage/panel</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>UserDispatcher</servlet-name>
        <url-pattern>/user/apps/*</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>EditionJobStatusServlet</servlet-name>
        <url-pattern>/publisher/status</url-pattern>
    </servlet-mapping>
<servlet-mapping>
         <servlet-name>DemandPublishingServlet</servlet-name>
         <url-pattern>/publisher/demandpublishing</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>LinkbackDispatcher</servlet-name>
        <url-pattern>/linkback/*</url-pattern>
    </servlet-mapping>
<servlet-mapping>
        <servlet-name>TaxonomyDispatcher</servlet-name>
        <url-pattern>/taxonomy/*</url-pattern>
    </servlet-mapping>
<servlet-mapping>
      <servlet-name>AxisServlet</servlet-name>
      <url-pattern>/servlet/AxisServlet</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>AdminServlet</servlet-name>
      <url-pattern>/servlet/AdminServlet</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>AxisServlet</servlet-name>
      <url-pattern>/webservices/*</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>AxisServlet</servlet-name>
      <url-pattern>/designwebservices/*</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>ActiveAssemblyServlet</servlet-name>
      <url-pattern>/assembly/aa</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>ContentUiAAServlet</servlet-name>
      <url-pattern>/contentui/aa</url-pattern>
   </servlet-mapping>
<servlet-mapping>
      <servlet-name>PSTdSchemaXmlServlet</servlet-name>
      <url-pattern>/servlet/tdschemaxml</url-pattern>
   </servlet-mapping>
<servlet-mapping>
    <servlet-name>Trinidad Resources</servlet-name>
    <url-pattern>/adf/*</url-pattern>
  </servlet-mapping>
<servlet-mapping>
<servlet-name>PSOImageEditor</servlet-name>
<url-pattern>/user/addins/psoimageeditor/*</url-pattern>
</servlet-mapping>
<mime-mapping>
      <extension>wsdl</extension>
      <mime-type>text/xml</mime-type>
   </mime-mapping>
<mime-mapping>
      <extension>xsd</extension>
      <mime-type>text/xml</mime-type>
   </mime-mapping>
<welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
</web-app>
